<div style="text-align:center; font-weight: bold;">
    <img src="../../assets/LOC.jpg" alt="Image Description" style="float: left; margin-right: 20px; width: 900px; background: blue;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1>LOCOMOTIVE</h1>
      <br>
      <br>
      At NeST Digital, we are committed to delivering high-quality solutions that drive innovation in the locomotive sector.      <br>
      <br>
      <br>
      
      
      Our competencies in infotainment and displays, rolling stock body control units, and rolling stock power electronics enable us to meet the evolving needs of the industry, providing our clients with state-of-the-art technologies that elevate their locomotive systems to new heights.      <br>
<br>
<br>
<br>
<br>
<br>
<br>

      Connect with our experts in locomotive & let’s collaborate together!

    </div>
