<div style="text-align:center; font-weight: bold;">
    <img src="../../assets/car.jpg" alt="Image Description" style="float: left; margin-right: 20px; width: 1000px; background: blue;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1>MOBILITY</h1>
      <br>
      <br>
      Providing better solutions for overcoming the challenges of the technology curve, competition and increasing customer expectations.

      <br>
      <br>
      <br>
      
      
      Capitalizing on the prowess of electronics to upgrade various systems used in vehicles to communicate, monitor, control, navigate and entertain.      <br>
<br>
<br>
<br>
<br>
<br>
<br>
      

    </div>
    <br>
    <br>
    <br>
